:root {
    --pink: #f14e95;
    --bg: #D7C0AE;
    --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

body {
    font-size: 1.2rem;
    font-family: 'Work Sans', sans-serif;
    min-height: 4000px;
}

main {
    color: #FFE17B ;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/kiss.jfif);
    z-index: -1;
    background-size: cover;
    background-position: bottom;
}
.hero {
    position: relative;
    min-height: 100vh;
}

.hero h1, .hero h4, .hero p {
    text-shadow: var(--shadow)
}

.hero h1 {
    font-family: 'Sacramento', cursive;
    font-size: 4rem;
}

.hero h4 {
    font-size: 1.6rem;
}

.hero p{
    font-size: 1.1rem;
}

.hero a {
    color: #6C3428;
    background-color: #DFA878;
    box-shadow: var(--shadow);
}
.hero a:hover {
    background-color: #6C3428;
    color: #DFA878;   
}

.mynavbar{
    background-color: white;
    border-bottom: 1.5px solid #27374D;
}

.mynavbar .offcanvas{
    width: 30vh;
    height: 100vh;
}
.mynavbar .navbar-brand, 
.mynavbar .offcanvas-title {
    font-family: 'Sacramento', cursive;
    font-size: 3.2rem;
    font-weight: bold;
}

.mynavbar .nav-link{
    text-transform: uppercase;
}

.home{
    background-image: url(img/sa.jpg);
    background-size: cover;
    min-height: 100vh;
    margin-top: -6rem;
    padding-top: 15rem;
    padding-bottom: 5rem;
    background-position: center;
}

.home h2, 
.Info h2,
.story h2,
.gallery h2,
.rsvp h2,
.gifts h2 {
    color: #9E6F21;
    font-family: 'Sacramento' ;
    font-size: 5rem;
    font-weight: bold;
}

.home h3{
    color: #444;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.home p{
    font-size: 1.1rem;
    color: black ;
}


.home .couple {
    margin-top: 100px;
}

.home .couple h3 {
    font-family: 'sacramento';
    font-size: 2.4rem;
    color: #9E6F21;
}

.home .couple img {
    width: 100%;
}

.home .heart {
    width: 50px;
    height: 50px;
    background-color: white;
    display: flex;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(65px);
}

.home .heart i {
    margin: auto;
    color: #9E6F21;

}

.Info {
    background-image: url(img/sa.jpg);
    background-size: cover;
    background-position: center;
    color: black;
    padding-top: 10rem;
    padding-bottom: 8rem;
}

.Info h2 
    


.Info .alamat {
    font-size: 1.1rem;
}

.Info a.btn:hover {
    background-color: #9E6F21;
}

.Info .description {
    font-size: 1rem;
    font-weight: 400;
}

.Info .card {
    background-color: rgba(255, 255, 255, 0.2) !important;
    color: #856337 !important;
    border: 1px solid black;
}

.Info .card-header {
    border-bottom: 1px solid black;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.Info .card-body {
    font-size: 1rem;
}

.Info .card-footer {
    border-top: 1px solid black;
    font-size: 1rem;
}



.story, 
.gallery,
.rsvp,
.gifts {
    padding-top: 10rem;
    padding-bottom: 8rem;
}

.story span, 
.gallery span,
.gifts span {
    text-transform: uppercase;
    color: #666;
    font-size: 0.9rem;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 1rem;
}

.story p, 
.gallery p,
.rsvp p,
.gifts p {
    font-size: 1rem;
    font-weight: 450;
}

.timeline {
    list-style: none;
    padding: 1.4rem 0;
    margin-top: 1rem;
    position: relative;
}

.timeline::before {
content: '';
top: 0;
bottom: 0;
position: absolute;
width: 1px;
background-color: #ccc;
left: 50%;
}

.timeline li{
margin-bottom: 1.5rem;
position: relative;
}

.timeline li::before,
.timeline li::after {
    content: '';
    display: table;
}

.timeline li::after {
    clear: both;
}

.timeline li .timeline-image {
    width: 160px;
    height: 160px;
    background-color: #ccc;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.timeline li .timeline-panel {
    width: 30%;
    float: left;
    border: 1px solid #ccc;
    padding: 2rem;
    position: relative;
    border-radius: 5px;
    background-color: #fff;
}

.timeline li .timeline-panel::before {
content: '';
display: inline-block;
position: absolute;
border-top: 15px solid transparent;
border-left: 15px solid #ccc;
border-right: 0 solid #ccc;
border-bottom: 15px solid transparent;
top: 80px;
right: -15px;
}

.timeline li .timeline-panel::after {
    content: '';
    position: absolute;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    top: 81px;
    right: -13px;

}

.timeline li.timeline-inverted .timeline-panel {
    float: right;
}

.timeline li.timeline-inverted .timeline-panel::before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline li.timeline-inverted .timeline-panel::after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -13px;
    right: auto;
}

.gallery {
    background-color: #f5f5f5;
}

.rsvp {
    background-color: var(--bg);
}

.rsvp h2 {
    font-size: 4.5rem;
}

.rsvp button {
    background-color: #6C3428;
    color: white;
    border: 1px solid #6C3428;
}
.rsvp button:hover {
    background-color: #DFA878;
    color: white;
    border: 1px solid #DFA878;
}

footer {
    padding: 3rem;
    background-color: var(--bg);
}
footer a {
    color: #6C3428;
    font-weight: bold;
    text-decoration: none;
}
footer a:hover {
    color: white;
}
footer li {
    list-style: none;
    margin: 0.5rem;
    display: inline;
}

.audio-icon-wrapper {
    width: 4rem;
    height: 4rem;
    font-size: 4rem;
    position: fixed;
    bottom: 1.5rem;
    right: 2rem;
    cursor: pointer;
    color: #6C3428;
    opacity: 0.5;
    animation: rotating 4s linear infinite;
    transform-origin: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
}

@keyframes rotating {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Media Query */
/* Extra Large */

@media (max-width: 1200px) {
    .home .heart {
        transform: translateX(-50%) translateY(45px);
    }
}
/* Laptop */
@media (max-width: 992px) {
    html {
        font-size: 75%;
    }
    .simply-countdown>.simply-section{
        padding: 55px;
    }

    .home .heart {
        display: none;
    }

    .timeline::before {
        left: 60px;
    }

    .timeline li .timeline-image {
        left: 15px;
        margin-left: 45px;
        top: 16px;
    }

    .timeline li .timeline-panel {
        width: calc((100% - 200px));
        float: right;
    }

    .timeline li .timeline-panel::before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    .timeline li .timeline-panel::after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -13px;
        right: auto;
    }


}

/* tablet */
@media (max-width: 538px) {
    html{
        font-size: 62.5%;
    }

    .hero::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(img/kiss.jfif);
        z-index: -1;
        background-size: cover;
        background-position: 538px;
    }

    .simply-countdown>.simply-section{
        padding: 30px;
        margin: 5px;
    }

    

.timeline li .timeline-image {
    width: 130px;
    height: 130px;
}


}

/* mobile phone */
@media (max-width: 300px) {
    html {
        font-size: 60%;
    }

    .hero::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(img/kiss.jfif);
        z-index: -1;
        background-size: cover;
        background-position: 400px;
    }

    .simply-countdown>.simply-section{
        padding: 30px;
        margin: 3px;
    }
    .mynavbar .nav-link{
        font-size: 2rem;
        text-align: center;
    }
    .sticky-top {
    overflow: hidden;
}

    .timeline li .timeline-image {
        width: 80px;
        height: 80px;
    }
    
    .timeline li .timeline-panel {
        width: 50%;
        transform: translateX(-20px);
    }

    .timeline li .timeline-panel::before {
        top: 25px;
    }

    .timeline li .timeline-panel::after {
        top: 26px;
    }


}